<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="static/css/index.css"/>
    <script src="static/js/jquery-3.6.0.min.js"></script>
</head>
<body>
    <img class="bgone" src="static/img/1.jpg" />
    <img class="pic" src="static/img/a.png" />
    <div class="table">
        <div class="wel">问答系统后台登录</div>
        <div class="wel1">WEN DA XI TONG HUO TAI DENG LU</div>
        <div class="user">
            <div id="yonghu" style=""><img src="static/img/yhm.png" /></div>
            <input type="text"  id="username" name="username" placeholder="请输入用户名" />
        </div>
        <div class="password">
            <div id="yonghu"><img src="static/img/mm.png"/></div>
            <input type="password" id="userpaswd" name="userpasswd" placeholder="请输入密码"/>
        </div>
        <input class="btn" id="btn" type="button" value="登录" onclick="a()">
        <script>
            function a(){
                var data=[];
                var name=document.getElementById("username").value;
                var passwd=document.getElementById("userpaswd").value;
                $.ajax({
                    url:"userindex",
                    type:"post",
                    dataType:"json",
                    data:{
                        "name":name,
                        "passwd":passwd,
                    },
                    success:function(e){
                        if(e.msg=='exist'){
                            window.location='/chat'
                        }
                        console.log(e)
                    },
                    error:function (e) {
                        if(e.msg=='exist'){
                            window.location='/chat'
                        }
                        console.log(e)
                    }
                });
            }
        </script>
    </div>
</body>

</html>